body{
	color: #616161;
	font-size: 16px;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
}
h1, h2, h3, h4, h5, h6{
	color: #002c5d;
	font-weight: bold;
	font-family: 'Source Sans Pro';
}
h1{
	font-size: 48px;
}
h2{
	font-size: 36px;
}
h3{
	font-size: 24px;
}
h4{
	font-size: 18px;
}
h5{
	font-size: 16px;
}
h6{
	font-size: 14px;
}
span{
	color: #39cabb;
}

/* Links
------------------------------------ */
a{
  display: inline-block;
  color: #616161;
  text-decoration: none;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
ul{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
a:hover{
	text-decoration: none;

}
a:hover,
a:focus,
a:active {
	color: #d46f6f;
}





.sticky-nav {
  left: 0;
  margin: auto;
  top: 0 !important;
  width: 100%;
  position: fixed !important;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.07);
  -webkit-animation: 300ms running fadeInDown;
  animation: 500ms running fadeInUp;
  -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  transition: 0.5s !important;
  background-color: #002c5d;
  z-index: 9999 !important;
  animation-name: slideInDown;
  animation-duration: 1.5s;
}





.menu-box .sticky-logo{
  display: none;
}

.menu-box.sticky-nav .main-menu ul li a{
	color: #39cabb;
}

.menu-box.sticky-nav .sticky-logo{
  display: block;
  margin-left: 100px;
}

.mobile-menu.mean-container {
    overflow: hidden;
}

/* mobile menu start ================================*/




/* ======================Topbar start========================== */
.topbar .topbar-wraper{
	display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 28px 0px 29px 0px;
}

.topbar .topbar-wraper .contact{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.topbar .topbar-wraper .contact .phone{
	position: relative;
}

.topbar .topbar-wraper .contact .phone .icon{
	margin-right: 10px;
}

.topbar .topbar-wraper .contact .phone .icon i{
	font-size: 35px;
	color: #39cabb;
}

.topbar .topbar-wraper .contact .spase{
	padding-right: 45px;
	position: relative;
}

.topbar .topbar-wraper .contact .spase::before{
	position: absolute;
	content: "";
	height: 50px;
	width: 1px;
	background-color: #e5e9ee;
	right: 10%;
  top: 3%;
}

.topbar .topbar-wraper .contact .phone .icon-content p{
	margin-bottom: 6px;
	font-size: 15px;
	color: #727272;
	font-weight: 400;

}

.topbar .topbar-wraper .contact .phone .icon-content span{
	font-size: 18px;
	color: #002c5d;
	font-weight: 600;
}
/* ======================Topbar end========================== */
/* ======================main menu start========================== */
.menu-box .bar{
	background-color: #e5e9ee;
	height: 1px;
}
.menu-box .main-menu ul{
	display: flex;
	flex-wrap: wrap;
}

.menu-box .main-menu ul li a{
	padding: 23px 23px;
	color: #002c5d;
	font-size: 16px;
}

.menu-box .main-menu nav ul i{
	opacity: 0.7;
	font-size: 13px;
}

.menu-box .header-right-side{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
}

.menu-box .header-right-side::after{
	position: absolute;
	content: "";
	height: 70px;
	width: 1px;
	background-color: #e5e9ee;
	left: -10%;
	top: -23px;
}

.menu-box .header-right-side p{
	margin-bottom: 0;
	color: #949494;
}

.menu-box .header-right-side i{
	color: #949494;
}

.menu-box .icon-wraper i{
	padding: 0px 7px;
	color: #39cabb;
}

.menu-box .icon-wraper{
	position: relative;
}

.menu-box .icon-wraper::after{
	position: absolute;
	content: "";
	height: 70px;
	width: 1px;
	background-color: #e5e9ee;
	left: -10%;
	top: -23px;
}

/* ======================main menu end========================== */

 /*--=====================================
    ----------start sub menu---------------
    -========================================*/

.menu-box .main-menu .sub-menu {
    height: auto;
    width: 230px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0,0, 0,0.2);
    position: absolute;
    text-align: left;
    top: 80px;
    transition: .3s;
    opacity: 0;
    left: 0;
    visibility: hidden;
    border-radius: 7px;
    padding: 15px 20px;
    border-top: 4px solid#2D4B8B;
    border-bottom: 4px solid#39cabb;
}

.menu-box .main-menu .menu-item-has-children{
	position: relative;
}

.menu-box .sub-menu li {
    display: block;
    margin-bottom: -40px;
}
.menu-box .main-menu .sub-menu li a {
    position: relative;
    color: #002c5d;
    margin: 5px 8px 5px 20px;
    font-weight: 500;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 50px;
    transition: .5s;
}


.menu-box .main-menu .sub-menu li a:hover{
	color: #39cabb;
	transition: .5s;
}

.menu-box .main-menu ul li:hover .sub-menu {
    top: 63px;
    opacity: 1;
    visibility: visible;
    z-index: 9;
    transition: .5s;
}

.menu-box .main-menu .sub-menu li a::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 15px;
    background-color: #39cabb;
    left: -18px;
    top:18px;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}
.menu-box .sub-menu li a:hover {
    margin-left: 30px;
    color: #333;
    transition: .5s;
}
.sticky-nav.header-area .main-menu .sub-menu li a:hover {
    margin-left: 30px;
    color: #39cabb;
    transition: .5s;
}
.menu-box .sub-menu li a:hover::before {
    opacity: 1;
    visibility: visible;
}

/*--==========================================
  -------------------------
  -=========================================*/

/* ======================Hero section start========================== */
.hero-section{
	background-image: url('image/hero1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	padding: 150px 0px 200px 0px;
}

.hero-section .text-section .question p{
	background-color: #39cabb;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	display: inline-block;
	border-radius: 4px;
	padding: 6px 10px;
}

.hero-section .text-section h2{
	font-size: 66px;
	font-weight: 500;
}

.hero-section .text-section h1{
	font-size: 66px;
	font-weight: 700;
}

.hero-section .text-section .paragraph p{
	font-size: 16px;
	font-weight: 500;
	margin: 15px 0px 35px 0px;
}

.hero-section .button{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.hero-section .button a.left{
	padding: 18px 30px;
  background-color: #39cabb;
  border-radius: 5px;
  color: #fff;
  transition: .5s;
  border: 1px solid #39cabb;
}

.hero-section .button .left{
	margin-right: 15px;
}

.hero-section .button a.left:hover{
	background-color: transparent;
	border: 1px solid #39cabb;
	color: #002c5d;
	transition: .5s;
}

/*video*/
.hero-section .button .drs-video {
    display: inline-block;
    position: relative;
    top: 0px;
    left: 55px;
}
.hero-section .button .drs-video::before {
    position: absolute;
    content: "";
    top: -74px;
    left: -73px;
    height: 148px;
    width: 148px;
    background: url(assets/images/call/play.html);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    right: 0;
    margin: auto;
}
 .hero-section .button .drs-video .animate-border a {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.hero-section .button .animate-border a i {
    color: #39cabb;
    font-size: 40px;
}
.hero-section .button .drs-video .animate-border .video-vemo-icon {
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    / left: 50%; /
    / transform: translateX(-50%); /
}
.hero-section .button .drs-video .animate-border .video-vemo-icon::before {
    content: "";
    border: 2px solid #39cabb;
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    animation: zoomBig 3.25s linear infinite;
    -webkit-animation-delay: .75s;
    animation-delay: .75s;
}
.hero-section .button .drs-video .animate-border .video-vemo-icon::after {
    content: "";
    border: 2px solid #1e4b7e;
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    animation: zoomBig 3.25s linear infinite;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
@keyframes zoomBig {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 1;
    border-width: 3px;
  }
  40% {
    opacity: .5;
    border-width: 2px;
  }
  65% {
    border-width: 1px;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
    border-width: 1px;
  }
}

/* ======================Hero section end========================== */
/* ======================feature section start========================== */
.feature-section{
	margin-top: -85px;
	margin-bottom: 75px;
}

.feature-section .feature-item1{
	background-color: #39cabb;
	border-radius: 5px 0px 0px 5px;
}

.feature-section .feature-content{
	padding: 36px;
}

.feature-section .feature-content h3{
	font-size: 22px;
	color: #fff;
	margin: 20px 0px;
}

.feature-section .feature-content p{
	font-size: 15px;
	color: #fff;
}

.feature-section .feature-item1 .feature-content .phone{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 27px;
}

.feature-section .feature-item1 .feature-content .phone i{
	color: #fff;
	padding: 15px;
	background-color: #61d5c9;
	margin-right: 10px;
}

.feature-section .feature-item1 .feature-content .phone h4{
	color: #fff;
}

.feature-section .feature-item2{
	background-color: #1e4b7e;
}

.feature-section .feature-content .button a{
	padding: 8px 18px;
  background-color: transparent;
  border: 1px solid #6d8aab;
  border-radius: 5px;
  color: #fff;
  transition: .5s;
  margin-top: 15px;
}

.feature-section .feature-item3{
	background-color: #39cabb;
}
.feature-section .feature-item3 .feature-content p{
	margin-bottom: 0;
}
.feature-section .feature-item3 .feature-content p span{
	color: #fff;
	float: right;
}
.feature-section .feature-item3 .feature-content .time-bar{
	height: 1px;
	background-color: #61d5c9;
	margin: 8px 0px;
}

.feature-section .feature-item4{
	background-color: #1e4b7e;
	border-radius: 0px 5px 5px 0px;
}


/* ======================feature section end========================== */
/* ======================about section start========================== */
.about-section{
	margin-bottom: 95px;
}

.about-section .left-content{
	position: relative;
}
.about-section .left-content .about-image img{
	width: 100%;
}

.about-section .left-content .icon-box{
	background-color: #39cabb;
}

.about-section .left-content .icon-box .icon img{
	background-color: #fff;
	padding: 10px 13px;
	border-radius: 5px;
	margin-right: 20px;
}

.about-section .left-content .icon-box{
	position: absolute;
	bottom: 10px;
	left: 0;
	border-radius: 5px;
	padding: 13px 15px;
}

.about-section .left-content .icon-box .text-content h3{
	font-size: 22px;
	color: #fff;
}

.about-section .left-content .icon-box .text-content p{
	font-size: 16px;
	color: #fff;
}

.about-section .right-content {
  margin: 20px 0px 0px 10px;
}

.about-section .right-content .right-title h2{
	font-size: 44px;
}

.about-section .right-content .right-title p{
	margin: 30px 0px 40px 0px;
}

.about-section .right-content .skills-bar .bar{
	margin: 30px 0px;
}

.about-section .right-content .skills-bar .bar:forst-child{
	margin-top: 0px;
}

.about-section .right-content .skills-bar .bar .info {
	margin-bottom: 10px;
}

.about-section .right-content .skills-bar .bar .info span{
	font-size: 17px;
	font-weight: 700;
	color: #002c5d;
}

.about-section .right-content .skills-bar .bar .progress-line{
	position: relative;
	height: 10px;
	width: 100%;
	background-color: #e9f2f1;
	border-radius: 3px;
	transform: scaleX(0);
	transform-origin: left;
	animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}


.about-section .right-content .skills-bar .bar .progress-line span{
	position: absolute;
	height: 100%;
	width: 80%;
	background-color: #39cabb;
	border-radius: 3px;
	transform: scaleX(0);
	transform-origin: left;
	animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}

@keyframes animate {
	100%{
		transform: scaleX(1);
	}
}

.about-section .right-content .skills-bar .bar .progress-line.microscope span{
	width: 85%;
}
.about-section .right-content .skills-bar .bar .progress-line.heart span{
	width: 90%;
}
.about-section .right-content .skills-bar .bar .progress-line.dental span{
	width: 70%;
}

.about-section .right-content .skills-bar .bar .progress-line span::before{
	position: absolute;
	content: "";
	right: 0;
	top: -10px;
	height: 0px;
	width: 0px;
	border: 7px solid transparent;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-top-color: #39cabb;
}

.about-section .right-content .skills-bar .bar .progress-line span::after{
	position: absolute;
	content: "80%";
	color: #fff;
	background-color: #39cabb;
	right: 0;
	top: -28px;
	font-size: 12px;
	font-weight: 500;
	padding: 2px 8px;
	border-radius: 4px;

}

.about-section .right-content .skills-bar .bar .progress-line.microscope span::after{
	content: "85%";
}
.about-section .right-content .skills-bar .bar .progress-line.heart span::after{
	content: "90%";
}
.about-section .right-content .skills-bar .bar .progress-line.dental span::after{
	content: "70%";
}

.about-section .right-content .right-icon{
	margin-top: 50px;
}

.about-section .right-content .right-icon i{
	color: #39cabb;
	font-size: 30px;
	margin-right: 20px;
}

.about-section .right-content .right-icon p{
	font-size: 17px;
}

.about-section .right-content .right-icon p span{
	text-decoration: underline;
}

/* ======================about section end========================== */
/* ======================appoinment section start========================== */
.appoinment-section{
	background-image: url('image/appoinment-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	padding: 100px 0px 100px 0px;
}

.appoinment-section .appoinment-title h4{
	font-size: 18px;
	text-align: center;
	color: #39cabb;
	font-weight: 600;
}

.appoinment-section .appoinment-title h2{
	font-size: 44px;
	text-align: center;
	margin-bottom: 50px;
}

.appoinment-section .appoinment-box{
	background-color: #fff;
	border-radius: 10px;
  padding: 30px 0px 0px 0px;
}

.appoinment-section .appoinment-box .appoinment-item{
	position: relative;
	padding: 0px 5px;
}

.appoinment-section .appoinment-box .appoinment-item::before{
	position: absolute;
	content: "";
	height: 5px;
	width: 40%;
	left: 0;
	right: 0;
	bottom:-35px;
	margin: auto;
	background-color: #39cabb;
	transition: .5s;
}

.appoinment-section .appoinment-box .appoinment-item:hover .icon-image span{
	background-color: #39cabb;
	color: #fff;
	transition: .5s;
}

.appoinment-section .appoinment-box .appoinment-item:hover::before{
	width: 90%;
	transition: .5s;
}

.appoinment-section .appoinment-box .appoinment-item .icon-image{
	position: relative;
	text-align: center;
}

.appoinment-section .appoinment-box .appoinment-item .icon-image span{
	position: absolute;
  height: 40px;
  width: 40px;
  border: 1px solid #39cabb;
  border-radius: 20px;
  line-height: 40px;
  right: 60px;
  transition: .5s;
}

.appoinment-section .appoinment-box .appoinment-item h3{
	font-size: 22px;
	text-align: center;
	font-weight: 600;
	margin-top: 10px;
}

.appoinment-section .appoinment-box .appoinment-item p{
	font-size: 15px;
	text-align: center;
	margin: 17px 0px 35px 0px;
	padding: 0px 10px;
}

/* ======================appoinment section end========================== */


/* ======================Service section start========================== */
.service-bg{
	padding-bottom: 250px;
	padding-top: 90px;
}

.service-bg .service-title-wraper h1{
	font-size: 44px;
	margin-bottom: 65px;
}

.service-bg .service-title-wraper p{
	font-size: 16px;
	margin-top: 35px;
}

.service-section{
	margin-top: -264px;
	padding-bottom: 100px;
	position: relative;
}

.service-section .service-slider .slider-item{
	box-shadow: 0px 5px 60px 0px rgba(0, 44, 93, 0.05);
	border-radius:5px;
	margin-bottom: 40px;
  overflow: hidden;

}

.service-section .service-slider .slider-item .slider-image{
	height: 265px;
	position: relative;
}

.service-section .service-slider .slider-item .icon{
	position: absolute;
	left: 70%;
	bottom: 9%;
	display: inline-block;
	background-color: #39c9ba;
	height: 80px;
	width: 80px;
	padding: 16px;
	border-radius: 5px;
	transition: .5s;

}

.service-section .service-slider .slider-item:hover .slider-image .icon{
  background-color: #002c5d;
	color: #fff;
  transition: .5s;
}


.service-section .service-slider .slider-item .text-content {
  margin: 0px 20px;
}

.service-section .service-slider .slider-item .text-content .number-box{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
}

.service-section .service-slider .slider-item .text-content h2{
	font-size: 24px;
	margin-top: 25px;
}
.service-section .service-slider .slider-item .text-content p{
	font-size: 16px;
	margin: 20px 0px;
}

.service-section .service-slider .slider-item .text-content .number-box{
	padding-bottom: 30px;
}

.service-section .service-slider .slider-item .text-content .number-box .number h2{
	font-size: 140px;
	color: #f2f4f7;
	position: absolute;
	bottom: -75%;
  left: 50%;
  transition: .5s;
}

.service-section .service-slider .slider-item:hover .text-content .number-box .number h2{
	bottom: -30%;
	transition: .5s;
}

.service-button a {
    padding: 16px 20px;
    background: #39cabb;
    border-radius: 50px;
    color: #fff;
    transition: .5s;
}
.service-button a span {
    display: none;
    transition: .5s;

}
.service-button a i{
	transition: .5s;
}
.service-button a:hover span{
		display: inherit;
		color: #fff;
}
.service-button a:hover i{
	margin-left: 10px;
}
.service-button a:hover{
	padding: 16px 30px;
	border-radius: 30px;
}

/* .service-section .service-slider .slider-item .service-button a{
	height: 50px;
	width: 50px;
	line-height: 50px;
	padding: 0 15px;
	overflow: hidden;
	border-radius: 50%;
  background-color: #e1f7f5;
}

.service-section .service-slider .slider-item:hover .service-button a{
	position: relative;
  width: 125px;
  border-radius: 30px;
  text-align: right;
  background-color: #39cabb;
  color: #fff;
}

.service-section .service-slider .slider-item .service-button a span{
	position: absolute;
	transform: translateX(17px);
	left: 0;
	visibility: hidden;
}

.service-section .service-slider .slider-item:hover .service-button a span{
	transform: translateX(15px);
	visibility: visible;
	color: #fff;
} */

.service-section .owl-dots {
 	text-align: center;
 	position: absolute;
 	left: 50%;
 	transform: translateX(-50%);
 	bottom: -5%;
 	transition: 0.5s;

}

.service-section .owl-dots .owl-dot {
  display: inline-block;
  position: relative;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #39cabb;
  margin-right: 20px;
  transition: 0.5s;

}

.service-section .owl-dots .owl-dot.active{
  background: #39cabb;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}
/* ======================Service section end========================== */
/* ======================Testimonial section start========================== */
.testimonial-section{
	background-image: url('image/service-bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 100px;

}

.testimonial-section .testi-slider2{
	margin: 100px 0px;
}

.testimonial-section .testi-slider2 .testi-box{
	background-color: #fff;
	border-radius: 5px;
}

.testimonial-section .testi-slider2 .testi-box .testi-content{
	position: relative;
	padding: 50px 50px;
}

.testimonial-section .testi-slider2 .testi-box .testi-content h2{
	font-size: 38px;
	
}

.testimonial-section .testi-slider2 .testi-box .testi-content p{
	font-size: 16px;
	margin: 40px 0px 50px 0px;
}

.testimonial-section .testi-slider2 .testi-box .testi-content .people img{
	width: 20%;
}

.testimonial-section .testi-slider2 .testi-box .testi-content .people .text{
	margin-top: 16px;
}

.testimonial-section .testi-slider2 .testi-box .testi-content .icon{
	position: absolute;
	right: 50px;
  bottom: 50px;
}

.testimonial-section .owl-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
}

.testimonial-section .owl-nav button.owl-next {
  position: absolute;
  right: 59px;
  bottom: -136px;
  color: #fff;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  font-size: 30px;
  background-color: #39cabb;
  border: 1px solid #FFF;
  line-height: 33px;
}

.testimonial-section .owl-nav button span {
  height: 100%;
  width: 100%;
  display: inline-block;
  color: #fff;
  line-height: 40px;
}

.testimonial-section .owl-nav button.owl-next:hover {
  background-color: #fff;
  transition: 0.5s;
  border: 1px solid #39cabb;
}

.testimonial-section .owl-nav button.owl-next:hover span{
	color: #39cabb;
}

.testimonial-section .owl-nav button.owl-prev {
  position: absolute;
  left: 466px;
  bottom: -135px;
  color: #fff;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  font-size: 30px;
  background-color: #39cabb;
  border: 1px solid #FFF;
  line-height: 33px;
}

.testimonial-section .owl-nav button.owl-prev:hover {
  background-color: #fff;
  transition: 0.5s;
  border: 1px solid #39cabb;
}

.testimonial-section .owl-nav button.owl-prev:hover span{
	color: #39cabb;
}

/* ======================Testimonial section end========================== */
/* ======================team section start========================== */
.team-section{
	margin-bottom: 100px;
}

.team-section .title{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.team-section .title h2{
	font-size: 44px;
	margin-bottom: 55px;
}

.team-section .title .team-button a{
	padding: 18px 45px;
  background-color: #39cabb;
  border-radius: 5px;
  color: #fff;
  transition: .5s;
  margin-top: 30px;
}

.team-section .title .team-button a:hover{
	background-color: transparent;
	border: 1px solid #39cabb;
	color: #002c5d;
	transition: .5s;
}

.team-section .single-box{
	position: relative;
	transition: .5s;
	box-shadow: 0px 5px 60px 0px rgba(0, 44, 93, 0.1);
	border-radius: 10px;
	
}

.team-section .single-box .image img{
	width: 100%;
}

.team-section .single-box .text-content .name{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.team-section .single-box .text-content{
	padding: 20px 20px 20px 30px;
}
.team-section .single-box .text-content h3{
	font-size: 22px;
}

.team-section .single-box .text-content span{
	font-size: 16px;
}

.team-section .single-box .text-content span i{
	font-size: 10px;
	margin-right: 10px;
}

.team-section .single-box .text-content p{
	font-size: 16px;
}

.team-section .single-box .text-content .location i{
	color: #39cabb;
	margin-right: 10px;
}

.team-section .single-box .text-content .icon i{
	color: #39cabb;
	margin-right: 5px;
}

.team-section .single-box .text-content .button a{
	color: #39cabb;
	padding: 10px 20px;
	border: 1px solid #e5e9ee;
	border-radius: 30px;
	position: absolute;
	left: 215px;
  bottom: 20px;
}

.team-section .single-box:hover .text-content .button a{
	background-color: #39cabb;
	color: #fff;
	transition: .5s;
}
/* ======================team section end========================== */

/* ======================Call do section start========================== */
.call-do-section{
	background-image: url('image/bg-call.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.call-do-section .call-do-content{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 90px 0px;
}

.call-do-section .call-do-content .left-content .image img{
	width: 100%;
}

.call-do-section .call-do-content .left-content .title{
	padding-left: 25px;
}

.call-do-section .call-do-content .left-content .title p{
	font-size: 34px;
	color: #fff;
	margin-bottom: 0;
	margin-top: 0;
}

.call-do-section .call-do-content .left-content .title h1{
	font-size: 44px;
	color: #fff;
	margin-bottom: 5px;
}

.call-do-section .call-do-content .button a{
	font-size: 16px;
	color: #fff;
	background-color: #39cabb;
	padding: 17px 25px;
	border-radius: 4px;
	transition: .5s;
}

.call-do-section .call-do-content .button a:hover{
	background-color: transparent;
	border: 1px solid #39cabb;
	color: #fff;
	transition: .5s;
}
/* ======================Call do section end========================== */
/* ======================Contact section start========================== */
.contact-section{
	background-image: url('image/appoinment-bg2.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

.contact-section .image img{
	position: absolute;
	left: -120px;
	top: 40px;
	width: 119%;
}

.contact-section .contact-box{
	background-color: #fff;
	border-radius: 10px;
	padding: 40px 40px 50px 40px;
	margin: 104px 0px;
}

.contact-section .contact-box .main-contant h2{
	font-size: 28px;
}

.contact-section .contact-box .main-contant p{
	font-size: 16px;
	margin: 22px 0px;
}

.contact-section .contact-box .main-contant{
	padding: 10px;
}

.contact-section .contact-box .main-contant select{
	padding: 15px 13px;
  border-radius: 4px;
  border: none;
  background-color: #ebfaf8;
  width: 100%;
}

.contact-section .contact-box .main-contant select:focus{
	background-color: #fff;
	border: 1px solid #39cabb;
	box-shadow: none;
}

.contact-section .contact-box .main-contant input.contact{
	padding: 25px 15px;
	margin: 17px 0px;
	background-color: #ebfaf8;
	border: none;
}

.contact-section .contact-box .main-contant input.contact:focus{
	background-color: #fff;
	border: 1px solid #39cabb;
	box-shadow: none;
}

.contact-section .contact-box .main-contant input.time{
	padding: 25px 15px;
	background-color: #ebfaf8;
	border: none;
}

.contact-section .contact-box .main-contant input.time:focus{
	background-color: #fff;
	border: 1px solid #39cabb;
	box-shadow: none;
}

.contact-section .contact-box .main-contant button.btn.form-control{
  background-color: #39cabb;
  padding: 17px 0px 37px 0px;
  margin-top: 25px;
  color: #fff;
}
/* ======================Contact section end========================== */

/* ======================blog section start========================== */
.blog-section{
	padding: 85px 0px 100px 0px;
	position: relative;
}

.blog-section .blog-title h2{
	font-size: 44px;
	text-align: center;
}

.blog-section .blog-title p{
	font-size: 16px;
	text-align: center;
	margin-bottom: 65px;
}

.blog-section .blog-item{
	box-shadow: 0px 5px 40px 0px rgba(0, 44, 93, 0.08);
}

.blog-section .blog-item .image img{
	width: 100%;
}

.blog-section .blog-item .category h5{
	color: #fff;
	background-color: #002c5d;
	padding: 15px 30px;
  border-radius: 0px 0px 5px 5px;
	font-size: 16px;
	display: inline-block;
	transition: .5s;
	/* writing-mode: vertical-rl; */
	transform: rotate(-90deg)!important;
	position: absolute;
	left: -31px;
  top: 140px;
}

.blog-section .blog-item .category h5:hover{
	background-color: #39cabb;
	transition: .5s;
}

.blog-section .blog-item .text-wraper{
	padding: 0px 25px;
}

.blog-section .blog-item .text-wraper h3 a{
	font-size: 24px;
	margin: 25px 0px 5px 0px;
	transition: .5s;
	font-weight: 600;
  color: #002c5d;
}

.blog-section .blog-item .text-wraper h3 a:hover{
	color: #39cabb;
	transition: .5s;
}

.blog-section .blog-item .text-wraper p{
	font-size: 16px;
	margin-top: 0;
}

.blog-section .blog-item .text-wraper .bar{
	background-color: #e5e9ee;
	height: 1px;
	width: 100%;
}

.blog-section .blog-item .text-wraper .name-date h4{
	font-size: 16px;
}

.blog-section .blog-item .text-wraper .name-date span{
	color: #002c5d;
	margin-right: 20px;
}


/* ======================blog section end========================== */
/* ======================subscribe section start========================== */
.subscrib-section{
	background-color: #002c5d;
	padding: 50px 0px;
}

.subscrib-section .icon a{
	height: 50px;
  	width: 50px;
  	border-radius: 24px;
  	background-color: #39cabb;
	color: #fff;
	line-height: 35px;
	text-align: center;
	display: inline-block;
	padding: 8px;
	margin-right: 10px;
	transition: .5s;
}

.subscrib-section .icon a:hover{
	background-color: #002c5d;
	transition: .5s;
}

.subscrib-section .form-wraper{
	position: relative;
}

.subscrib-section .form-wraper input{
	padding: 30px 20px;
}

.subscrib-section .form-wraper input::placeholder{
	/* padding-left: 20px;
	margin-left: 30px; */
}

.subscrib-section .form-wraper button{
	position: absolute;
  padding: 19px 40px;
  border: 0;
  background-color: #39cabb;
  color: #fff;
  border-radius: 0px 5px 5px 0px;
  right: 0;
  top: 0;
  transition: .5s;
}

.subscrib-section .form-wraper button:hover{
	background-color: #002c5d;
	border: 1px solid #39cabb;
	color: #fff;
	transition: .5s;
}

/* ======================subscribe section end========================== */
/* ======================footer section start========================== */
.footer-section{
	background-image: url('image/Home-1-bg.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-top: 100px;
}

.footer-section p{
	color: #fff;
	font-size: 16px;
	margin-top: 35px;
	line-height: 1.7;
}

.footer-section .button a{
	font-size: 16px;
	color: #fff;
	background-color: #39cabb;
	padding: 17px 30px;
	border-radius: 4px;
	margin-top: 20px;
	transition: .5s;
}

.footer-section .button a:hover{
	background-color: transparent;
	border: 1px solid #39cabb;
	color: #fff;
	transition: .5s;
}

.footer-section h2{
	color: #fff;
	font-size: 24px;
	margin-bottom: 20px;
}

.footer-section ul li a{
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 24px;
	color: #fff;
	transition: .5s;
}

.footer-section ul li a:hover{
	color: #39cabb;
	transition: .5s;
}

.footer-section ul li a i{
	margin-right: 10px;
}

.footer-section .footer-news{
	margin-bottom: 30px;
}

.footer-section .footer-news .image img{
	width: 100%;
	border-radius: 5px;
}

.footer-section .footer-news .image-content p {
	margin: 0px 0px 10px 10px;
	font-size: 16px;
  	font-weight: 500;
  	color: #fff;
}

.footer-section .footer-news .image-content p a{
	color: #fff;
}

.footer-section .footer-news .image-content p a:hover{
	color: #39cabb;
}


.footer-section .footer-news .image-content span{
	margin: 0px 0px 0px 10px;
}

.footer-section .footer-icon .icon i{
	color: #39cabb;
	font-size: 20px;
	font-weight: 600;
}

.footer-section .footer-icon p{
	margin: 0px 0px 0px 10px;

}

.footer-section .bar1{
	height: 1px;
	width: 100%;
	background-color: #fff;
	margin: 25px 0px;
}

.footer-section .bar2{
	height: 1px;
	width: 100%;
	background-color: #fff;
	margin: 25px 0px;
}

.footer-section .footer-bar{
	height: 1px;
	width: 100%;
	background-color: #fff;
	margin-top: 100px;
}

.footer-section .cuppyright-section p{
	text-align: center;
	color: #fff;
	padding: 37px 0px;
  	margin-bottom: 0;
  	font-weight: 500;
  	margin-top: 0;
}


/* ======================footer section end========================== */



/* ===========================scroll strat===========================  */
/* ===========================************===========================  */
.scroll-area {
  position: relative;
  z-index: 999;
}

.scroll-area .go-top {
  position: fixed;
  cursor: pointer;
  top: 0;
  right: 30px;
  color: #ffffff;
  background-image: -moz-linear-gradient(0deg, #d1651a 0%, #c1282a 100%);
  background-image: -webkit-linear-gradient(0deg, #d1651a 0%, #c1282a 100%);
  background-image: -ms-linear-gradient(0deg, #d1651a 0%, #c1282a 100%);
  z-index: 9999;
  width: 45px;
  text-align: center;
  height: 45px;
  line-height: 42px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.9s ease-out 0s;
  -moz-transition: all 0.9s ease-out 0s;
  -ms-transition: all 0.9s ease-out 0s;
  -o-transition: all 0.9s ease-out 0s;
  transition: all 0.9s ease-out 0s;
  border-radius: 10px;
}

.scroll-area .go-top i {
  position: absolute;
  top: 50%;
  left: -4px;
  right: 0;
  margin: 0 auto;
  font-size: 15px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -ms-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}

.scroll-area .go-top i:last-child {
  opacity: 0;
  visibility: hidden;
  top: 60%;
}

.scroll-area .go-top::before {
  content: "";
  border: 2px solid #002c5d;
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  animation: zoomBig 3.25s linear infinite;
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}

.scroll-area .go-top:focus, .scroll-area .go-top:hover {
  color: #fff;
}

.scroll-area .go-top:focus::before, .scroll-area .go-top:hover::before {
  opacity: 1;
  visibility: visible;
}

.scroll-area .go-top:focus i:first-child, .scroll-area .go-top:hover i:first-child {
  opacity: 0;
  top: 0;
  visibility: hidden;
}

.scroll-area .go-top:focus i:last-child, .scroll-area .go-top:hover i:last-child {
  opacity: 1;
  visibility: visible;
  top: 50%;
}

.scroll-area .go-top.active {
  top: 95%;
  -webkit-transform: translateY(-98%);
  -moz-transform: translateY(-98%);
  -ms-transform: translateY(-98%);
  -o-transform: translateY(-98%);
  transform: translateY(-98%);
  opacity: 1;
  visibility: visible;
  border-radius: 0;
  right: 50px;
  border-radius: 100%;
}

.top-wrap {
  position: relative;
}

.top-wrap .go-top-button {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  top: 3px;
  z-index: 1;
  background-image: -moz-linear-gradient(0deg, #d1651a 0%, #c1282a 100%);
  background: #39cabb;
  background-image: -ms-linear-gradient(0deg, #d1651a 0%, #c1282a 100%);
}

.top-wrap .go-top-button i {
  font-size: 20px;
  font-weight: 700;
  padding-left: 4px;
  color: #fff;
}

.top-wrap .go-top-button::after {
  content: "";
  border: 2px solid #39cabb;
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  animation: zoomBig 3.25s linear infinite;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.top-wrap .go-top-button:hover {
  background-color: #002c5d;
  color: #fff;
}

@keyframes zoomBig {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 1;
    border-width: 3px;
  }
  40% {
    opacity: 0.5;
    border-width: 2px;
  }
  65% {
    border-width: 1px;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
    border-width: 1px;
  }
}
/* ===========================scroll end===========================  */
/* ===========================************===========================  */




/* ==========================================
start search Popup Css
=========================================*/
.search-popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 99999;
    margin-top: -540px;
    transform: translateY(-100%);
    background-color: rgba(57, 202, 187, 0.5);
    -webkit-transition: all 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
    -moz-transition: all 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
    -o-transition: all 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
    transition: all 1500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
    -webkit-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
    -o-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
    transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
}
.search-popup{
    width: 100%;
}
.search-active .search-popup{
    transform: translateY(0%);
    margin-top: 0;
}
.search-popup .close-search {
    position: absolute;
    left: 0;
    right: 0;
    top: 75%;
    margin: 0 auto;
    margin-top: -200px;
    border-radius: 50%;
    text-align: center;
    background-color: #39cabb;
    width: 70px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    border-bottom: 3px solid #ffffff;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    height: 70px;
    line-height: 70px;
    text-align: center;
}
.search-popup .close-search i{
    position: relative;
    font-size: 30px;
    color: #ffffff;
}
.search-active .search-popup .close-search{
    visibility: visible;
    opacity: 1;
    top: 50%;
    -webkit-transition-delay: 1500ms;
    -moz-transition-delay: 1500ms;
    -ms-transition-delay: 1500ms;
    -o-transition-delay: 1500ms;
    transition-delay: 1500ms;
}
.search-popup form{
    position: absolute;
    max-width: 700px;
    top: 50%;
    left: 15px;
    right: 15px;
    margin:-35px auto 0;
    transform: scaleX(0);
    transform-origin: center;
    background-color: #111111;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.search-active .search-popup form{
    transform: scaleX(1);
    -webkit-transition-delay: 1200ms;
    -moz-transition-delay: 1200ms;
    -ms-transition-delay: 1200ms;
    -o-transition-delay: 1200ms;
    transition-delay: 1200ms;
}
.search-popup .form-group{
    position:relative;
    margin:0px; 
    overflow: hidden;
}
.search-popup .form-group input[type="text"], 
.search-popup .form-group input[type="search"] {
    position: relative;
    display: block;
    font-size: 18px;
    line-height: 50px;
    color: #0e3d60;
    height: 70px;
    width: 100%;
    padding: 10px 30px;
    background-color: #ffffff;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 1px;
    outline: 0;
    border: none;
}
.search-popup .form-group input[type="submit"], .search-popup .form-group button {
    position: absolute;
    right: 30px;
    top: 0px;
    height: 70px;
    line-height: 70px;
    background: transparent;
    text-align: center;
    font-size: 24px;
    color: #0e3d60;
    padding: 0;
    cursor: pointer;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    border: none;
}
.search-popup .form-group input[type="submit"]:hover,
.search-popup .form-group button:hover{
    color: #000000;
}
.search-popup input::placeholder,
.search-popup textarea::placeholder{
    color:#000000;
}
.search-popup .close-search.style-two{
    position: absolute;
    right: 25px;
    left: auto;
    color:#ffffff;
    width:auto;
    height:auto;
    top:25px;
    margin:0px;
    border:none;
    background:none !important;
    box-shadow:none !important;
    -webkit-transition:all 500ms ease;
    -moz-transition:all 500ms ease;
    -ms-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease;
}
.header-src-btn {
    display: inline-block;
}


/*Loader*/

.loader-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: 0.8s 1s ease;
    z-index: 666;
}
.loader {
  position: relative;
  display: block;
  z-index: 201;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
  border-radius: 50%;
  transition: all 1s 1s ease;
  border: 3px solid transparent;
  border-top-color: #00dbff;/*#9A241C*/
  -webkit-animation: spin 1.5s linear infinite;
  -moz-animation: spin 1.5s linear infinite;
  -o-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
.loader:before {
  position: absolute;
  content: '';
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-left-color: #00eacc;/*#FF3C00*/
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  -o-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
.loader:after {
  position: absolute;
  content: '';
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-right-color: #fff;
  -webkit-animation: spin 2.5s linear infinite;
  -moz-animation: spin 2.5s linear infinite;
  -o-animation: spin 2.5s linear infinite;
  animation: spin 2.5s linear infinite;
}
/* Here comes the Magic */

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loader-wrapper .loder-section {
    position: fixed;
    top: 0;
    width: 50%;
    height: 100%;
    background: #111;
    z-index: 2;
}
.loader-wrapper .loder-section.left-section {
  left: 0;
  transition: 1s 1.4s ease;
}
.loader-wrapper .loder-section.right-section {
  right: 0;
  transition: 1s 1.4s ease;
}

/* When page loaded */
.loaded .loder-section.left-section {
  left: -100%;
}
.loaded .loder-section.right-section {
  right: -100%;
}
.loaded .loader-wrapper {
  visibility: hidden;
}
.loaded .loader {
  top: -100%;
  opacity: 0;
}


